@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />  <br />
                <a asp-area="" asp-controller="Home" asp-action="SendEmailDefault">Send email with System.Net.Mail</a>
        <br />  <br />
        <a asp-area="" asp-controller="Home" asp-action="SendEmailCustom">Send email with MailKit</a>


    </div>



